<head>
  <meta charset="UTF-8">
  <script src="../js/theme-toggle.js" defer></script>
  <script src="../js/fix-embeds.js" defer></script>
  <script src="../js/article-protect.js" defer></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="../css/styles.css">
</head>

<header class="custom-header" style="background-color: #17232b;">
  <div class="container">
    <h1 class="title is-4" style="color: white;">Luacord Wiki</h1>
    <nav class="buttons is-justify-content-flex-end">
      <button id="theme-toggle" class="button">🌞/🌙</button>
    </nav>
  </div>
</header>
<div class="sidenav">
  <a href="index.html">Startseite</a>
  <a href="LuaHomebrew.html">Lua Homebrew</a>
  <a href="Voelker.html">Völker</a>
  <a href="Gruppierungen.html">Gruppierungen</a>
  <a href="Persoenlichkeiten.html">Persönlichkeiten</a>
  <a href="Ebenen.html">Die Ebenen der Existenz</a>
  <a href="places.html">Orte</a>
</div>
<body data-protected="false" data-allowed-players="Master">

  <body>
    <div class="content" id="protected-content">
  <!-- Überschrift des Eintrags -->
  <h1 class="title">Titel</h1>